{% extends './BaseTemp/base.html' %}
{% load static %}


{% block content %}



<!-- Start Home Revolution Slider Parallax Section -->
<section id="home-revolution-slider">
   <div class="hero">
      <div class="tp-banner-container">
         <div class="tp-banner">
            <ul>
               <!-- SLIDE 1 -->
               <li data-transition="fade" data-slotamount="7" data-masterspeed="2000" data-thumb="{% static 'img/backgrounds/bg.jpg' %}" data-delay="10000" data-saveperformance="on" data-title="We Are Visual">
                  <img src="{% static 'img/backgrounds/bg.jpg' %}" alt="slidebg1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                  <!-- Home Heading -->
                  <div class="tp-caption sft"
                                        data-x="center"
                                        data-y="260"
                                        data-speed="1200"
                                        data-start="1100"
                                        data-easing="Power3.easeInOut"
                                        data-splitin="none"
                                        data-splitout="none"
                                        data-elementdelay="0.1"
                                        data-endelementdelay="0.1"
                                        data-endspeed="300"
                                        style="z-index: 4; max-width: auto; max-height: auto; white-space:normal;">
                     <h2 class="home-heading op-1">Working Made Simple</h2>
                  </div>
                  <!-- Home Subheading -->
                  <div class="tp-caption home-subheading sft "
                                        data-x="center"
                                        data-y="360"
                                        data-speed="1200"
                                        data-start="1350"
                                        data-easing="Power3.easeInOut"
                                        data-splitin="none"
                                        data-splitout="none"
                                        data-elementdelay="0.1"
                                        data-endelementdelay="0.1"
                                        data-endspeed="300"
                                        style="z-index: 4; max-width: auto; max-height: auto; white-space:normal;">
                     <div class="op-1"> Find Work Whenever and Wherever</div>
                  </div>
                  <!-- Home Button -->
                  <div class="tp-caption home-button sft fadeout"
                                        data-x="center"
                                        data-y="400"
                                        data-speed="1200"
                                        data-start="1550"
                                        data-easing="Power3.easeInOut"
                                        data-splitin="none"
                                        data-splitout="none"
                                        data-elementdelay="0.1"
                                        data-endelementdelay="0.1"
                                        data-endspeed="300"
                                        style="z-index: 4; max-width: auto; max-height: auto; white-space:normal;">
                     <div class="op-1">
                        <a href="#apply" class="btn btn-primary btn-scroll">
                           APPLY NOW
                        </a>
                     </div>
                  </div>
               </li>

               <!-- SLIDE 2 -->
               <li data-transition="fade" data-slotamount="7" data-masterspeed="2000" data-thumb="{% static 'img/backgrounds/bg-1.jpg' %}" data-delay="10000"  data-saveperformance="on" data-title="Digital Agency">
                  <img src="{% static 'img/backgrounds/bg-1.jpg' %}" alt="slidebg1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                  <!-- Home Heading -->
                  <div class="tp-caption sft"
                                        data-x="center"
                                        data-y="260"
                                        data-speed="1200"
                                        data-start="1100"
                                        data-easing="Power3.easeInOut"
                                        data-splitin="none"
                                        data-splitout="none"
                                        data-elementdelay="0.1"
                                        data-endelementdelay="0.1"
                                        data-endspeed="300"
                                        style="z-index: 4; max-width: auto; max-height: auto; white-space:normal;">
                     <h2 class="home-heading op-2">Working Made Simple</h2>
                  </div>
                  <!-- Home Subheading -->
                  <div class="tp-caption home-subheading sft fadeout"
                                        data-x="center"
                                        data-y="360"
                                        data-speed="1200"
                                        data-start="1350"
                                        data-easing="Power3.easeInOut"
                                        data-splitin="none"
                                        data-splitout="none"
                                        data-elementdelay="0.1"
                                        data-endelementdelay="0.1"
                                        data-endspeed="300"
                                        style="z-index: 4; max-width: auto; max-height: auto; white-space:normal;">
                     <div class="op-2">Find Work Whenever and Wherever</div>
                  </div>
                  <!-- Home Button -->
                  <div class="tp-caption home-button sft fadeout"
                                        data-x="center"
                                        data-y="400"
                                        data-speed="1200"
                                        data-start="1550"
                                        data-easing="Power3.easeInOut"
                                        data-splitin="none"
                                        data-splitout="none"
                                        data-elementdelay="0.1"
                                        data-endelementdelay="0.1"
                                        data-endspeed="300"
                                        style="z-index: 4; max-width: auto; max-height: auto; white-space:normal;">
                     <div class="op-2">
                        <a href="#apply" class="btn btn-primary btn-scroll">
                           Let's Find You a Job
                        </a>
                     </div>
                  </div>
               </li>

               <!-- SLIDE 3 -->

            </ul>
            <!--<div class="tp-bannertimer"></div>-->
         </div>
         <div class="home-bottom">
            <div class="container text-center">
               <div class="move bounce">
                  <a href="#features" class="ion-ios-arrow-down btn-scroll">
                  </a>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- End Home Revolution Slider Parallax Section -->

<div class="site-wrapper content">

   <!-- Start Features Section -->
   <section id="features">
      <div class="container">
         <div class="col-md-12 text-center wow fadeInUp">
            <h3 class="section-title">About <a class="to-top">VISUAL</a></h3>
            <p class="subheading">We’re defining a new way of working, trying to enrich the lives of others</p>
         </div>
         <h4 style="color: #91DA32">OUR VISION</h4>
         <p> At <strong>VISUAL</strong>, we recognize the barriers that make it difficult for people to find fulfilling work and for companies to find quality workers. We believe that there’s a better way to connect people and jobs. A transparent way that brings together people from diverse backgrounds. An equitable way that aims to make broad job opportunities available to everyone. A versatile way that supports flexibility for workers and businesses alike. That’s why <strong>VISUAL</strong>  exists.</p>

         <p>We’re passionate about solving these problems with a technology platform that enables people to choose work that works for them instead of the other way around. If you are a worker looking for a new opportunity or a company looking for on-demand staffing solutions, look no further than <strong>VISUAL</strong>.</p>
         <br>

         <p>We help people prioritize the important things in life by making flexible work available to everyone. <strong>We’ve got you covered</strong></p>

         <div class="row features-row wow fadeInUp">
            <div class="col-md-2 col-sm-12 feature-column">
               <div class="feature-icon text-center">
                  <img src="https://www.experis.us/Website-File-Pile/ExperisClient/Icons/Power-128.png">
                  <h4>Energy</h4>
               </div>
            </div>
            <div class="col-md-2 col-sm-12 feature-column">
               <div class="feature-icon text-center">
                  <img src="https://www.experis.us/Website-File-Pile/ExperisClient/Icons/Cube-128.png">
                  <h4>MANUFACTURING</h4>
               </div>
            </div>
            <div class="col-md-2 col-sm-12 feature-column">
               <div class="feature-icon text-center">
                  <img src="https://www.experis.us/Website-File-Pile/ExperisClient/Icons/Bank-128.png">
                  <h4>FINANCIAL SERVICES</h4>
               </div>
            </div>
            <div class="col-md-2 col-sm-12 feature-column">
               <div class="feature-icon text-center">
                  <img src="https://www.experis.us/Website-File-Pile/ExperisClient/Icons/Power-128.png">
                  <h4>CLEANING AND ASSITANCE </h4>
               </div>
            </div>
            <div class="col-md-2 col-sm-12 feature-column">
               <div class="feature-icon text-center">
                  <img src="https://www.experis.us/Website-File-Pile/ExperisClient/Icons/Caduceus-128.png">
                  <h4>HEALTH CARE</h4>
               </div>
            </div>
            <div class="col-md-2 col-sm-12 feature-column">
               <div class="feature-icon text-center">
                  <img src="https://www.experis.us/Website-File-Pile/ExperisClient/Icons/News-Add-128.png">
                  <h4>OIL AND GAS</h4>
               </div>
            </div>
          </div>
      </div>
   </section>
   <!--End Features Section -->

   <!-- Start About Section -->


   <!-- Start Fun Facts Section -->
   <section id="fun-facts" class="parallax-section-5">
      <div class="container">
         <div class="col-md-12 text-center white wow fadeInUp">
            <h3 class="section-title">Some interesting facts about us</h3>
            <p class="subheading">Interdisciplinary team with <span class="highlight">big ideas</span> and challenges.</p>
         </div>
         <div class="counter-row row text-center wow fadeInUp">
            <div class="col-md-4 col-sm-6 fact-container">
               <div class="fact">
                  <span class="highlight"><h2 style="color: #91DA32 ">90%</h2></span>
                  <span ><strong>Fill Rate</strong></span>
                  <h4>Our pre-screened worker pool is 300K and growing.</h4>
               </div>
            </div>
            <div class="col-md-4 col-sm-6 fact-container">
               <div class="fact">
                  <span class="highlight"><h2 style="color: #91DA32 ">12Hrs</h2></span>
                  <span ><strong>Average Time to Start</strong></span>
                  <h4>Cut lead time for staffing from several weeks to a day.</h4>
               </div>
            </div>
            <div class="col-md-4 col-sm-6 fact-container">
               <div class="fact">
                  <span class="highlight"><h2 style="color: #91DA32 ">97.8%</h2></span>
                  <span ><strong>Customer Satisfaction</strong></span>
                  <h4>Customers consistently give workers on Visual high ratings.</h4>
               </div>
            </div>
         </div>
      </div>
   </section>



   <!-- Start Clients Section -->
   <section id="clients">
      <div class="container">
         <div class="row">
            <div class="col-md-12 text-center">
               <h3 class="section-title wow fadeInUp">Thousands of Companies and Private Businesses Trust Us</h3>
               <p class="subheading wow fadeInUp">some of the most well known companies.</p>
            </div>
            <div class="clients">
               <div id="client-slider" class="owl-carousel">
                  <div class="item">
                     <img src="{% static 'img/clients/walmart.png' %}" alt="" />
                  </div>
                  <div class="item">
                     <img src="{% static 'img/clients/ford.png' %} " alt="" />
                  </div>
                  <div class="item">
                     <img src="{% static 'img/clients/apple.png' %}" alt="" />
                  </div>
                  <div class="item">
                     <img src="{% static 'img/clients/cocacola.png' %}" alt="" />
                  </div>
                  <div class="item">
                     <img src="{% static 'img/clients/chevron.png' %}" alt="" />
                  </div>
                  <div class="item">
                     <img src="{% static 'img/clients/budweiser.png' %}" alt="" />
                  </div>
                  <div class="item">
                     <img src="{% static 'img/clients/fedex.png' %}" alt="" />
                  </div>
                  <div class="item">
                     <img src="{% static 'img/clients/gillete.png' %}" alt="" />
                  </div>
                  <div class="item">
                     <img src="{% static 'img/clients/p&g.png' %}" alt="" />
                  </div>
                  <div class="item">
                     <img src="{% static 'img/clients/gillete.png' %}" alt="" />
                  </div>
                  <div class="item">
                     <img src="{% static 'img/clients/nike.png' %}" alt="" />
                  </div>
                  <div class="item">
                     <img src="{% static 'img/clients/cost.png' %}" alt="" />
                  </div>
                  <div class="item">
                     <img src="{% static 'img/clients/harly.png' %}" alt="" />
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- End Clients Section -->



   <!-- Start Contact Form Section -->
 <!--  <section id="contact">
      <div class="container">
         <div class="row">
            <div class="col-md-12 text-center">
               <h3 class="section-title wow fadeInUp">Contact us</h3>
               <p class="subheading wow fadeInUp"> Let's Work Together. </p>
            </div>

            <div class="col-md-7 wow fadeInUp">
               <div id="message"></div>
               Contact Form will be functional only on your server. Upload to your server when testing. -->
               <!--<form method="post" action="" name="message" id="message">
                  <fieldset>
                     <input name="name" type="text" id="name" placeholder="Name"/>
                     <input name="email" type="text" id="email" placeholder="Email"/>
                     <input name="subject" type="text" id="subject" placeholder="Subject"/>
                  </fieldset>
                  <fieldset>
                     <textarea name="comments" cols="40" rows="3" id="comments" placeholder="Message"></textarea>
                  </fieldset>
                  <input type="submit" class="submit" id="submit" value="Send Message" />
               </form>
            </div>

            <div class="col-md-5 wow fadeInLeft">
               <h4> North America : </h4>
               <address>
               795 Folsom Ave, Suite 600<br>
               San Francisco, CA 94107<br>
               <abbr title="Phone">P:</abbr>(415) 649-7980
               </address>

               <h4> Contact Us : </h4>
               <address>
               <abbr title="Phone">
               <strong> Phone </strong>
               </abbr> : (407) 7204696 <br>
               <abbr title="Email">
               <strong>hr.admin@visual.com</strong>
               </address>
            </div>
         </div>
      </div>
   </section>-->
   <!-- End Contact Form Section -->

   <section id="contact">
      <div class="container">
         <form method="post" action="{% url 'sendmail' %}" name="message" enctype="multipart/form-data">
            {% csrf_token %}
         <div class="row">
            <div class="col-md-12 text-center">
               <h3 id="apply" class="section-title wow fadeInUp">Let's Find You Your Dream Job</h3>
               <p class="subheading wow fadeInUp">Fill the Form Below</p>
            </div>

             <div class="col-md-12 wow fadeInUp">
                 <fieldset>
                    <legend>PERSONAL INFORMATION</legend>
                     <div class="form-group col-md-3">
                         <label for="uname">FIRST NAME</label>
                         <input type="text" class="form-control" id="uname" placeholder="Enter First Name" name="fname" required>
                     </div>
                     <div class="form-group col-md-3">
                         <label for="uname">LAST NAME</label>
                         <input type="text" class="form-control" id="uname" placeholder="Enter Last Name" name="lname" required>
                     </div>
                     <div class="form-group col-md-3">
                         <label for="uname">MOBILE NO</label>
                         <input type="number" class="form-control" id="uname" placeholder="Enter Mobile No" name="phone" required>
                     </div>
                     <div class="form-group col-md-3">
                         <label for="uname">E-MAIL ADDRESS</label>
                         <input type="email" class="form-control" id="uname" placeholder="Enter E-mail Address" name="email" required>
                     </div>

                     <div class="form-group col-md-3">
                         <label for="uname">STREET ADDRESS</label>
                         <input type="text" class="form-control" id="uname" placeholder="Enter Street Address" name="street" required>
                     </div>
                     <div class="form-group col-md-3">
                         <label for="uname">CITY</label>
                         <input type="text" class="form-control" id="uname" placeholder="Enter City" name="city" required>
                     </div>
                     <div class="form-group col-md-3">
                         <label for="uname">STATE</label>
                         <select name="state" id="state" required>
                           <option value="" selected="selected" my_order_property="first"> Please Select State</option>
                           <option value="AK">Alaska</option>
                           <option value="AL">Alabama</option>
                           <option value="AR">Arkansas</option>
                           <option value="AZ">Arizona</option>
                           <option value="CA">California</option>
                           <option value="CO">Colorado</option>
                           <option value="CT">Connecticut</option>
                           <option value="DC">District of Columbia</option>
                           <option value="DE">Delaware</option>
                           <option value="FL">Florida</option>
                           <option value="GA">Georgia</option>
                           <option value="HI">Hawaii</option>
                           <option value="IA">Iowa</option>
                           <option value="ID">Idaho</option>
                           <option value="IL">Illinois</option>
                           <option value="IN">Indiana</option>
                           <option value="KS">Kansas</option>
                           <option value="KY">Kentucky</option>
                           <option value="LA">Louisiana</option>
                           <option value="MA">Massachusetts</option>
                           <option value="MD">Maryland</option>
                           <option value="ME">Maine</option>
                           <option value="MI">Michigan</option>
                           <option value="MN">Minnesota</option>
                           <option value="MO">Missouri</option>
                           <option value="MS">Mississippi</option>
                           <option value="MT">Montana</option>
                           <option value="NC">North Carolina</option>
                           <option value="ND">North Dakota</option>
                           <option value="NE">Nebraska</option>
                           <option value="NH">New Hampshire</option>
                           <option value="NJ">New Jersey</option>
                           <option value="NM">New Mexico</option>
                           <option value="NV">Nevada</option>
                           <option value="NY">New York</option>
                           <option value="OH">Ohio</option>
                           <option value="OK">Oklahoma</option>
                           <option value="OR">Oregon</option>
                           <option value="PA">Pennsylvania</option>
                           <option value="PR">Puerto Rico</option>
                           <option value="RI">Rhode Island</option>
                           <option value="SC">South Carolina</option>
                           <option value="SD">South Dakota</option>
                           <option value="TN">Tennessee</option>
                           <option value="TX">Texas</option>
                           <option value="UT">Utah</option>
                           <option value="VA">Virginia</option>
                           <option value="VT">Vermont</option>
                           <option value="WA">Washington</option>
                           <option value="WI">Wisconsin</option>
                           <option value="WV">West Virginia</option>
                           <option value="WY">Wyoming</option>
                     </select>
                     </div>
                     <div class="form-group col-md-3">
                         <label for="uname">ZIP CODE</label>
                         <input type="text" class="form-control" id="uname" placeholder="Enter Zip Code" name="zip" required>
                     </div>

                 </fieldset>

                 <fieldset>
                    <legend>EMPLOYMENT INFORMATION</legend>
                     <div class="form-group col-md-3">
                         <label for="uname">CURRENT EMPLOYER <span style="color:gray">(if any)</span> </label>
                         <input type="text" class="form-control" id="uname" placeholder="Enter Employer Name" name="employer" >
                     </div>
                     <div class="form-group col-md-3">
                         <label for="uname">EMPLOYER PHONE</label>
                         <input type="number" class="form-control" id="uname" placeholder="Enter Employer Phone" name="employer_phone" >
                     </div>
                     <div class="form-group col-md-3">
                         <label for="uname">EMPLOYER E-MAIL </label>
                         <input type="email" class="form-control" id="uname" placeholder="Enter E-mail Address" name="employer_email" >
                     </div>
                     <div class="form-group col-md-3">
                         <label for="uname">POSITION </label>
                         <input type="text" class="form-control" id="uname" placeholder="Enter Your Position" name="position" >
                     </div>

                     <div class="form-group col-md-3">
                         <label for="uname">STREET ADDRESS</label>
                         <input type="text" class="form-control" id="uname" placeholder="Enter Street Address" name="c_street" >
                     </div>
                     <div class="form-group col-md-3">
                         <label for="uname">CITY</label>
                         <input type="text" class="form-control" id="uname" placeholder="Enter City" name="c_city" >
                     </div>
                     <div class="form-group col-md-3">
                         <label for="uname">STATE</label>
                         <select name="c_state" id="state" >
                           <option value="" selected="selected" my_order_property="first"> Please Select State</option>
                           <option value="AK">Alaska</option>
                           <option value="AL">Alabama</option>
                           <option value="AR">Arkansas</option>
                           <option value="AZ">Arizona</option>
                           <option value="CA">California</option>
                           <option value="CO">Colorado</option>
                           <option value="CT">Connecticut</option>
                           <option value="DC">District of Columbia</option>
                           <option value="DE">Delaware</option>
                           <option value="FL">Florida</option>
                           <option value="GA">Georgia</option>
                           <option value="HI">Hawaii</option>
                           <option value="IA">Iowa</option>
                           <option value="ID">Idaho</option>
                           <option value="IL">Illinois</option>
                           <option value="IN">Indiana</option>
                           <option value="KS">Kansas</option>
                           <option value="KY">Kentucky</option>
                           <option value="LA">Louisiana</option>
                           <option value="MA">Massachusetts</option>
                           <option value="MD">Maryland</option>
                           <option value="ME">Maine</option>
                           <option value="MI">Michigan</option>
                           <option value="MN">Minnesota</option>
                           <option value="MO">Missouri</option>
                           <option value="MS">Mississippi</option>
                           <option value="MT">Montana</option>
                           <option value="NC">North Carolina</option>
                           <option value="ND">North Dakota</option>
                           <option value="NE">Nebraska</option>
                           <option value="NH">New Hampshire</option>
                           <option value="NJ">New Jersey</option>
                           <option value="NM">New Mexico</option>
                           <option value="NV">Nevada</option>
                           <option value="NY">New York</option>
                           <option value="OH">Ohio</option>
                           <option value="OK">Oklahoma</option>
                           <option value="OR">Oregon</option>
                           <option value="PA">Pennsylvania</option>
                           <option value="PR">Puerto Rico</option>
                           <option value="RI">Rhode Island</option>
                           <option value="SC">South Carolina</option>
                           <option value="SD">South Dakota</option>
                           <option value="TN">Tennessee</option>
                           <option value="TX">Texas</option>
                           <option value="UT">Utah</option>
                           <option value="VA">Virginia</option>
                           <option value="VT">Vermont</option>
                           <option value="WA">Washington</option>
                           <option value="WI">Wisconsin</option>
                           <option value="WV">West Virginia</option>
                           <option value="WY">Wyoming</option>
                     </select>
                     </div>
                     <div class="form-group col-md-3">
                         <label for="uname">ZIP CODE</label>
                         <input type="text" class="form-control" id="uname" placeholder="Enter Zip Code" name="c_zip" >
                     </div>
</fieldset>
                     <fieldset>
                         <div class="form-group col-md-3">
                         <label for="pemp">PREVIOUS EMPLOYER </label>
                         <input type="text" class="form-control" id="pemp" placeholder="Enter Employer Name" name="e_employer" >
                     </div>
                         <div class="form-group col-md-3">
                             <label for="uname">EMPLOYER PHONE</label>
                             <input type="number" class="form-control" id="uname" placeholder="Enter Employer Phone" name="e_employer_phone" >
                         </div>
                         <div class="form-group col-md-3">
                             <label for="uname">EMPLOYER E-MAIL </label>
                             <input type="email" class="form-control" id="uname" placeholder="Enter E-mail Address" name="e_employer_email" >
                         </div>
                         <div class="form-group col-md-3">
                             <label for="uname">POSITION </label>
                             <input type="text" class="form-control" id="uname" placeholder="Enter Your Position" name="e_position" >
                         </div>
                     </fieldset>



                     <div class="form-group col-md-3">
                         <label for="uname">STREET ADDRESS</label>
                         <input type="text" class="form-control" id="uname" placeholder="Enter Street Address" name="e_street" >
                     </div>
                     <div class="form-group col-md-3">
                         <label for="uname">CITY</label>
                         <input type="text" class="form-control" id="uname" placeholder="Enter City" name="e_city" >
                     </div>
                     <div class="form-group col-md-3">
                         <label for="uname">STATE</label>
                         <select name="e_state" id="state" >
                           <option value="" selected="selected" my_order_property="first"> Please Select State</option>
                           <option value="AK">Alaska</option>
                           <option value="AL">Alabama</option>
                           <option value="AR">Arkansas</option>
                           <option value="AZ">Arizona</option>
                           <option value="CA">California</option>
                           <option value="CO">Colorado</option>
                           <option value="CT">Connecticut</option>
                           <option value="DC">District of Columbia</option>
                           <option value="DE">Delaware</option>
                           <option value="FL">Florida</option>
                           <option value="GA">Georgia</option>
                           <option value="HI">Hawaii</option>
                           <option value="IA">Iowa</option>
                           <option value="ID">Idaho</option>
                           <option value="IL">Illinois</option>
                           <option value="IN">Indiana</option>
                           <option value="KS">Kansas</option>
                           <option value="KY">Kentucky</option>
                           <option value="LA">Louisiana</option>
                           <option value="MA">Massachusetts</option>
                           <option value="MD">Maryland</option>
                           <option value="ME">Maine</option>
                           <option value="MI">Michigan</option>
                           <option value="MN">Minnesota</option>
                           <option value="MO">Missouri</option>
                           <option value="MS">Mississippi</option>
                           <option value="MT">Montana</option>
                           <option value="NC">North Carolina</option>
                           <option value="ND">North Dakota</option>
                           <option value="NE">Nebraska</option>
                           <option value="NH">New Hampshire</option>
                           <option value="NJ">New Jersey</option>
                           <option value="NM">New Mexico</option>
                           <option value="NV">Nevada</option>
                           <option value="NY">New York</option>
                           <option value="OH">Ohio</option>
                           <option value="OK">Oklahoma</option>
                           <option value="OR">Oregon</option>
                           <option value="PA">Pennsylvania</option>
                           <option value="PR">Puerto Rico</option>
                           <option value="RI">Rhode Island</option>
                           <option value="SC">South Carolina</option>
                           <option value="SD">South Dakota</option>
                           <option value="TN">Tennessee</option>
                           <option value="TX">Texas</option>
                           <option value="UT">Utah</option>
                           <option value="VA">Virginia</option>
                           <option value="VT">Vermont</option>
                           <option value="WA">Washington</option>
                           <option value="WI">Wisconsin</option>
                           <option value="WV">West Virginia</option>
                           <option value="WY">Wyoming</option>
                     </select>
                     </div>
                     <div class="form-group col-md-3">
                         <label for="uname">ZIP CODE</label>
                         <input type="text" class="form-control" id="uname" placeholder="Enter Zip Code" name="e_zip" >
                     </div>



                 <div class="col-md-6">
                    <label><strong>Upload front of your State ID/License<span class="red">*</span></strong></label>
                    <br>
                    <span class="err_msg_idfront"></span>
                    <div class="col-md-6">
                    <input type="file" name="attachment1" class="formfield" multiple="multiple" accept="image/png, image/gif, image/jpeg" required="">
                    <!-- <input  type="text" name="att1" id="mmn" placeholder=""> -->
                    </div>
                </div>

                 <div class="col-md-6">
                    <label><strong>Upload Back of your State ID/License<span class="red">*</span></strong></label>
                    <br>
                    <span class="err_msg_idfront"></span>
                    <div class="col-md-6">
                    <input type="file" name="attachment2" class="formfield" multiple="multiple" accept="image/png, image/gif, image/jpeg" required="">
                    <!-- <input  type="text" name="att1" id="mmn" placeholder=""> -->
                    </div>
                </div>

             </div>

             <button type="submit" class="btn btn-primary">Submit</button>



               <!-- Contact Form will be functional only on your server. Upload to your server when testing. -->

         </div>
         </form>
      </div>

   </section>

</div>

<script>
    if( _("idfront").files.length == 0 ){
        $(".err_msg_idfront").html('&nbsp;<b>please upload State ID/License front</b>').css('color', 'red');
    } else {
        $(".err_msg_idfront").html("")
    }

    if( _("idback").files.length == 0 ){
        $(".err_msg_idback").html('&nbsp;<b>please upload State ID/License back</b>').css('color', 'red');
    } else {
        $(".err_msg_idback").html("")
    }
</script>

{% endblock %}